
.icon-arrow:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-spotify:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
